.Toolbar {
  background-color: rgb(0, 0, 0);
  color: white;

}

.Toolbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 987px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: rgb(0, 0, 0);
  z-index: 6;

}

@media (max-width: 680px) {
  .Toolbar ul {
    display: none;
  }

}