.Header {
  min-height: 70vh;
  background-color: aliceblue;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem 1rem 1rem 4rem;
  background-size: cover;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 20px rgba(255, 255, 255, .5);
  margin:0 25px;
}
.Header h1 {
  font-size: 4rem;
  margin: 0;
  opacity: .75;
  
}
p{
  font-size: 1.2rem;
  padding: 0;
}