.Header {
  position: relative;
  margin-bottom: 5rem;
  margin-top: 2rem;

}

.Header img {
  width: 70%;
  height: 40vh;
  min-height: 380px;
  object-fit: cover;
  object-position: center;

  margin: 2rem 0;
  border-radius: 2rem;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  transition: transform 5s ease-out;
}
.Header img:hover{
  transform: scale(1.1);

}
.Header section {
  position: absolute;
  bottom: -3rem;
  right: 2rem;
  max-width: 500px;
  margin-left: 2rem;
  z-index: 1;
  background-color: white;
  padding: 0 2rem 0;
  border-radius: 2rem;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
 
}
/* .Header section:hover{
  background: linear-gradient(#d48383, #a4a8d2);

}
.Header img:hover .Header section{
  z-index: 1;
} */
.Header h1 {
  font-size: 2rem;
}