.Nav {
 
  color: black ;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .3); */
}
.Nav .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}
.Nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media (max-width: 600px) {
  .Nav ul {
    display: none;
  }
}
.Nav .Button{
  border: none;
  display: block;
  padding: .5rem 1rem;
  color: #0b1c2c;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background: #dc780b;
  border-radius: 5px;
  cursor: pointer;
}

.Nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media (max-width: 620px) {
  .Nav {
    flex-direction: column;
    margin: 1rem 0;
  }
}