.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(205, 78, 78); */
  color: black;
  padding: 1rem 1rem;
}
.Nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: 15px;
}
